<!DOCTYPE html>

<html>
  <head>
    <style>
      dc-flashcard {
        --question-bgcolor: #F0FFFF;
        --question-color: #000;
      }
      .important {
        color: #FF3232;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>Flashcard Demo</h1>
    <div style="width: 300px">
      <dc-flashcard>
        <div slot="question">
          What's the purpose of Web Components?
        </div>
        <ul slot="answer">
          <li>create <span class="important">reusable</span> components</li>
          <li>w/ <span class="important">vanilla</span> JS/HTML/CSS only!</li>
          <li>w/o fear of code <span class="important">collisions</span></li>
        </ul>
      </dc-flashcard>
    </div>
    <script type="module" src="flashcard.js"></script>
  </body>
</html>
